 body 
{
 	background: #FFCBA4;
}

.btn
{
	background-color: #FDD5B1;
	color: #87421F;
	max-width: 1000px;
    padding: 15px;
	border-radius: 5%;
	max-height: 1000px;	
	border: 1px #ffcccc;
	border-radius: 5px;
	border-top-style: solid;
	border-top: 1px solid #D27D46;
	border-left-style: solid;
	border-left: 1px solid #D27D46;
	border-bottom-style: solid;
	border-bottom: 1px solid #D27D46;
	border-right-style: solid;
	border-right: 1px solid #D27D46;
}

.btn-lg
{
	background-color: #FDD5B1;
	max-width: 1000px;
    padding: 15px;
	border-radius: 5%;
	max-height: 1000px;	
	border: 1px #ffcccc;
	border-radius: 5px;
	border-top-style: solid;
	border-top: 1px solid #D27D46;
	border-left-style: solid;
	border-left: 1px solid #D27D46;
	border-bottom-style: solid;
	border-bottom: 1px solid #D27D46;
	border-right-style: solid;
	border-right: 1px solid #D27D46;
}

.btn-primary
{
	background-color: #FDD5B1;
	max-width: 1000px;
    padding: 15px;
	border-radius: 5%;
	max-height: 1000px;	
	border: 1px #ffcccc;
	border-radius: 5px;
	border-top-style: solid;
	border-top: 1px solid #D27D46;
	border-left-style: solid;
	border-left: 1px solid #D27D46;
	border-bottom-style: solid;
	border-bottom: 1px solid #D27D46;
	border-right-style: solid;
	border-right: 1px solid #D27D46;
}

.btn-block
{
	background-color: #FDD5B1;
	max-width: 1000px;
    padding: 15px;
	border-radius: 5%;
	max-height: 1000px;	
	border: 1px #ffcccc;
	border-radius: 5px;
	border-top-style: solid;
	border-top: 1px solid #D27D46;
	border-left-style: solid;
	border-left: 1px solid #D27D46;
	border-bottom-style: solid;
	border-bottom: 1px solid #D27D46;
	border-right-style: solid;
	border-right: 1px solid #D27D46;
}

.form-signin-heading
{
	font-family: verdana;
	font-size: 20px;
	font-variant: small-caps;
	max-width: 1000px;
    padding: 25px;
	border-radius: 5%;
	max-height: 1000px;	
	border: 1px #ffcccc;
	border-radius: 5px;
	border-top-style: solid;
	border-top: 1px solid #D27D46;
	border-left-style: solid;
	border-left: 1px solid #D27D46;
	border-bottom-style: solid;
	border-bottom: 1px solid #D27D46;
	border-right-style: solid;
	border-right: 1px solid #D27D46;
}

.container
{
	max-width: 1000px;
    padding: 25px;
	border-radius: 5%;
	max-height: 1000px;	
	border: 1px #ffcccc;
	border-radius: 5px;
	border-top-style: solid;
	border-top: 1px solid #D27D46;
	border-left-style: solid;
	border-left: 1px solid #D27D46;
	border-bottom-style: solid;
	border-bottom: 1px solid #D27D46;
	border-right-style: solid;
	border-right: 1px solid #D27D46;
}

.form-signin 
{
    max-width: 1000px;
    padding: 50px;
	border-radius: 5%;
	max-height: 1000px;	
	border: 1px #ffcccc;
	border-radius: 5px;
	border-top-style: solid;
	border-top: 1px solid #D27D46;
	border-left-style: solid;
	border-left: 1px solid #D27D46;
	border-bottom-style: solid;
	border-bottom: 1px solid #D27D46;
	border-right-style: solid;
	border-right: 1px solid #D27D46;
}

.form-signin .form-control 
{
   
    padding: 14px;
    font-size: 20px;
}

h5
{
	color:#87421F ;
}

h3
{
	
	color:#87421F;
}