.judulutama
{
	font-family: "verdana";
	background-color: #0f0;
	text-align:center;
}

.menu
{
		width: 200px;
		height: 100px;
		border-radius: 15px;
		padding: 10px;
		margin: 10px;
		float: left;
		background-color: #0f0;
}

.lagu
{
	overflow-y: scroll;
	width: 600px;
	height: 500px;
	padding: 10px;
	margin: 10px;
	float: left;
	border-radius: 25px;
	text-align: center;
	background-color: #0f0; 
}

.lagu img
{
	max-width: 350px;
	height: 300px;
	border-radius: 25%;
}


@media screen and (max-width: 1080px)
{
	.menu  {
		width: 25%;
			background-color: #ddeeff;

	}
	.lagu {
		width: 60%;
		float: right;
	}
	
}
@media screen and (max-width: 1000px)
{
	
	h1
	{
		text-align: center;
	}
	.menu , .lagu {
		width: auto;
		float: none;
	}
		
}